   <div className="hidden md:flex md:flex-col flex-1">
                <div className="relative h-52">
                  <Image
                    src={pkg.imageUrl}
                    alt={pkg.title?.[locale]}
                    fill
                    className="object-cover group-hover:scale-105 transition-transform duration-500"
                  />
                  {/* <div className="bottom-3 left-3 absolute bg-[#740e27] px-3 py-1 rounded-full font-medium text-white text-sm">
                    ${pkg.price}/person
                  </div> */}
                </div>

                {/* Card body with button at bottom */}
                <div className="flex flex-col flex-1 p-5">
                  <h3 className="mb-2 font-bold text-[#740e27] text-xl">
                    {pkg.title?.[locale]}
                  </h3>
                  <p className="mb-4 text-gray-600 text-sm line-clamp-3">
                    {pkg.subTitle?.[locale]}
                  </p>
                  <div className="flex items-center mb-3 text-gray-500 text-sm">
                    <div className="flex items-center">
                      <Star size={28} strokeWidth={2.25} />
                      <Star size={28} strokeWidth={2.25} />
                      <Star size={28} strokeWidth={2.25} />
                      <Star size={28} strokeWidth={2.25} />
                      <StarHalf size={28} strokeWidth={2.25} />
                    </div>
                    {pkg.rating} ({pkg.reviews})
                  </div>
                  {/* price here  */}
                  <div className="mx-auto py-4 text-center">
                    <div className="flex justify-center items-end gap-1">
                      From{" "}
                      <span className="text-red-500 line-through">
                        €{pkg?.fullPrice}
                      </span>
                    </div>
                    <div className="mt-0 text-gray-500 text-sm">
                      <span className="font-bold text-[#004030] text-xl">
                        €{pkg?.adultPrice}
                      </span>
                      <span className="text-gray-600 text-sm">per person</span>
                    </div>
                  </div>

                  {/* Button always sticks at bottom */}
                  <div className="mt-auto">
                    <Link
                      href={
                        index === 0
                          ? `/firstPackage/${pkg._id}`
                          : `/packages/${pkg._id}`
                      }
                    >
                      <Button className="group relative bg-gradient-to-r from-[#740e27] hover:from-[#8a1a33] to-[#9c2440] hover:to-[#b22a4d] hover:shadow-2xl hover:shadow-rose-400/20 py-4 rounded-xl w-full overflow-hidden font-semibold text-white hover:scale-105 transition-all duration-300">
                        {/* Shine effect */}
                        <div className="absolute inset-0 bg-gradient-to-r from-transparent via-white/20 to-transparent -skew-x-12 transition-transform translate-x-[-100%] group-hover:translate-x-[100%] duration-1000 transform"></div>

                        <span className="z-10 relative flex justify-center items-center">
                          {t("explore-package")}
                          <ArrowRight className="ml-2 w-5 h-5 transition-transform group-hover:translate-x-1 duration-300" />
                        </span>
                      </Button>
                    </Link>
                  </div>
                </div>
              </div>